*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}

.calculadora{
    height: 50%;
    width: 20%;
    display: grid;
    background-color: #010101;
    grid-template-areas: 
    "resul resul resul resul"
    "siete ocho nueve divi"
    "cuatro cinco seis multi"
    "uno dos tres mas"
    "igual atras ac menos";
    padding: 2em;
    gap: 1em;

}

.Resultado{
    grid-area: resul;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mostrar{
    height: 90%;
    width: 90%;
    border: solid 1px black;
    display: flex;
    align-items: center;
    text-indent: 7px;
    overflow: scroll;
    background-color: white;
}
.stylos{
    font-size: 1.4em;
    border: solid 1px black;
    border-radius: 8px;
    background-color: transparent;
    background-color: white;
}
.siete{
    grid-area: siete;
}

.ocho{
    grid-area: ocho;
}
.nueve{
    grid-area: nueve;
}
.divi{
    grid-area: divi;
}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
}
.seis{
    grid-area: seis;
}
.multi{
    grid-area: multi;
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{
    grid-area: tres;
}
.mas{
    grid-area: mas;
}
.igual{
    grid-area: igual;
    border-radius: 50%;
    background-color:rgb(191, 102, 254);
    color: black;
}
.atras{
    grid-area: atras;
}

.ac{
    grid-area: ac;
}
.menos{
    grid-area: menos;
}